.button {
  width: 100%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-bottom: 0; }
  .button-padding {
    padding-top: 10px;
    padding-bottom: 10px; }
  .button-margin {
    margin-bottom: 30px; }
  .button_blue {
    background-color: #2ddaff; }
  .button_red {
    background-color: #ed632c; }
  .button_green {
    background-color: #84ce1a; }
  .button_radius {
    border-radius: 10px; }

.font_bold {
  font-weight: bold;
  margin-bottom: 0; }
.font_gray {
  color: #9a969a; }
.font_white {
  color: white; }

.input {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px; }
  .input-largeFont {
    font-size: 18px; }
  .input_gray {
    border: 3px solid #9a969a; }
  .input_blue {
    border: 3px solid #2ddaff; }

.header {
  background-color: #2ddaff;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px; }
  .header-title {
    font-size: 35px;
    font-weight: bold; }
  .header-dropDown {
    text-align: center; }

.vacant-search {
  width: 100%;
  border: 4px solid #9a969a;
  border-radius: 15px;
  margin-bottom: 20px; }
.vacant-row {
  padding-top: 10px;
  padding-bottom: 10px; }

.form-title {
  text-align: center;
  color: #9a969a;
  padding-bottom: 30px;
  font-size: 40px; }
