@charset "UTF-8";
.button {
  width: 100%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-bottom: 0; }
  .button-padding {
    padding-top: 10px;
    padding-bottom: 10px; }
  .button-margin {
    margin-bottom: 30px; }
  .button_blue {
    background-color: #2ddaff; }
  .button_red {
    background-color: #ed632c; }
  .button_green {
    background-color: #84ce1a; }
  .button_radius {
    border-radius: 10px; }
  .button_standartWidth {
    width: 300px;
    margin: 0 auto; }

.font_bold {
  font-weight: bold;
  margin-bottom: 0; }
.font_gray {
  color: #9a969a; }
.font_white {
  color: white; }

.input {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px; }
  .input-largeFont {
    font-size: 18px; }
  .input_gray {
    border: 3px solid #9a969a; }
  .input_blue {
    border: 3px solid #2ddaff; }

.header {
  background-color: #2ddaff;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px; }
  .header_noMargin {
    margin: 0; }
  .header_marginTop {
    margin-top: 150px; }
  .header-title {
    font-size: 35px;
    font-weight: bold; }
  .header-dropDown {
    text-align: center; }
  .header-text {
    font-size: 17px; }
    .header-text_right {
      text-align: right; }

.vacant-search {
  width: 100%;
  border: 4px solid #9a969a;
  border-radius: 15px;
  margin-bottom: 20px; }
.vacant-row {
  padding-top: 10px;
  padding-bottom: 10px; }
  .vacant-row_small {
    padding-top: 2px;
    padding-bottom: 2px; }
.vacant-container {
  background-color: #f3f3f3; }
.vacant-header {
  cursor: pointer; }
  .vacant-header:hover {
    background-color: #ddd; }
.vacant-content-hide {
  display: none; }

.form-container-center {
  text-align: center; }
.form-title {
  text-align: center;
  color: #9a969a;
  padding-bottom: 30px;
  font-size: 40px; }
  .form-title_blue {
    color: #2ddaff; }
  .form-title_underline {
    text-decoration: underline; }
.form-subtitle {
  color: #9a969a;
  font-size: 25px;
  margin-bottom: 10px; }
  .form-subtitle_bold {
    font-weight: bold; }
  .form-subtitle_rightSide {
    float: right; }
.form-text {
  color: #9a969a;
  margin-bottom: 10px; }
  .form-text_bold {
    font-weight: bold; }
.form-img {
  height: 350px; }
  .form-img-container {
    text-align: center;
    margin-bottom: 40px; }

.loginForm-input {
  width: 100% !important;
  border: none;
  border-bottom: 3px #2ddaff solid; }
.loginForm-row {
  margin: 10px 0 10px 0; }
.loginForm-board {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  z-index: 100;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.loginForm-title {
  color: #2ddaff; }
.loginForm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85); }
.loginForm-discription {
  color: #9a969a;
  margin-bottom: 10px; }
.loginForm-checkBox > input {
  margin-right: 10px;
  border-radius: 120px; }

.headerMenu {
  width: 100%; }
  .headerMenu ul {
    margin: 0;
    padding: 0;
    background-color: #2ddaff;
    width: 100%;
    border: 3px solid white;
    border-radius: 10px; }
    .headerMenu ul li {
      padding: 10px;
      width: 100%;
      border: 1px solid white; }
    .headerMenu ul ul > li:hover {
      background-color: #9a969a; }
    .headerMenu ul li, .headerMenu ul .headerMenu ul {
      display: inline-block; }
    .headerMenu ul ul {
      display: none;
      position: absolute;
      background-color: #2ddaff;
      margin-top: 10px;
      margin-left: -10px; }
    .headerMenu ul a {
      color: #fff;
      text-decoration: none; }
    .headerMenu ul ul a {
      color: #fff;
      text-decoration: none; }
  .headerMenu li:hover ul {
    display: block; }
  .headerMenu li:hover li {
    display: block; }

/* скрываем чекбоксы и блоки с содержанием */
.hidenRow,
.hidenRow + label ~ div {
  display: none; }

/* вид текста label */
.hidenRow + label {
  margin: 0;
  padding: 0;
  color: green;
  cursor: pointer;
  display: inline-block; }

/* вид текста label при активном переключателе */
.hidenRow:checked + label {
  color: red;
  border-bottom: 0; }

/* когда чекбокс активен показываем блоки с содержанием  */
.hidenRow:checked + label + div {
  display: block;
  background: #efefef;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
          box-shadow: inset 3px 3px 10px #7d8e8f;
  margin-left: 20px;
  padding: 10px; }

.hidenRow + label:before {
  background-color: #1e90ff;
  color: #fff;
  content: "+";
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 3px 5px;
  text-align: center;
  width: 16px;
  border-radius: 50%; }

.loginForm-container-hide {
  display: none; }