.header
    background-color: $mainColor
    color: white
    padding-top: 50px
    padding-bottom: 50px
    margin-bottom: 50px
    &-title
        font-size: 35px
        font-weight: bold
        text-align: center
    &-dropDown
        text-align: center