.vacant
    &-search
        width: 100%
        border: 4px solid $secondColor
        border-radius: 15px
        margin-bottom: 20px
    &-row
        padding-top: 10px
        padding-bottom: 10px

.form
    &-title
        text-align: center
        color: $secondColor
        padding-bottom: 30px
        font-size: 40px
