.vacant
    &-search
        width: 100%
        border: 4px solid $secondColor
        border-radius: 15px
        margin-bottom: 20px
    &-row
        padding-top: 10px
        padding-bottom: 10px
        &-buttonContent
            text-align: right